.user-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,1fr));
    padding-left: 20px;
    gap: 0.6em;
    margin-block: 0.6em;
    justify-content: center;
    position: relative;
}
.user-list li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    padding: 0.65em;
}
.user-preview{
    border: 1px solid black;
}