.main-header {
    height: 70px;
    width: 100%;
    background-color: #595959;
    color: #fff;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.toggle-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1000;
    visibility: hidden;
  }
  .toggle-nav-btn span{
    text-align: center;
  }
.main-header > a {
    flex-grow: 1;
}

.main-header .logo {
    font-family: ubuntu;
    font-size: 22px;
    letter-spacing: 1.6px;
    flex-grow: 1;
}
.main-header .main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header .main-nav .link {
    padding: 0 16px;
    cursor: pointer;
}
.main-header .isOnline{
    position: absolute;
    top: 5px;
    right: 15px;
}