.img-picker{
    font-size: 3rem;
    width: 60px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    color: black;
    border: 1px solid black;
}
.img-picker input{
opacity: 0;      
position: absolute; 
width: 0;
height: 0; 
}