/* Setup */
@import '../style/setup/typography.css';
@import '../style/setup/vars.css';

/* base */
@import '../style/base/base.css';
@import '../style/base/forms.css';
@import '../style/base/helpers.css';
@import '../style/base/layout.css';

/* cmps */

@import '../style/cmps/toy-preview.css';
@import '../style/cmps/toy-edit.css';
@import '../style/cmps/toy-list.css';
@import '../style/cmps/chat.css';
@import '../style/cmps/app-header.css';
@import '../style/cmps/my-chart.css';
@import '../style/cmps/dashboard.css';
@import '../style/cmps/formik.css';
@import '../style/cmps/google-map.css';
@import '../style/cmps/img-picker.css';
@import '../style/cmps/selected-img-container.css';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.app > * {
    width: 100%;
}

main {
    flex-grow: 1;
}
